	#console { background-color: #333; color: #fff; padding: 2px 5px; font-size: 11px; position: fixed; bottom: 0; right: 0; z-index: 1000 }

	/*	Bamboo
	=========================== */
	.overflow { overflow: auto; -webkit-overflow-scrolling: touch; }
	.loading { background-image: url(../images/loader.gif); background-position: center; background-repeat: no-repeat; background-size: 32px; }
	.loading.subview { min-height: 300px; }
	#container { margin: 0; position: relative; z-index: 2; background-color: #f9f9f9 }
	#cover { display: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: rgba(255,255,255,0); z-index: 600; }

	/*	Header
	=========================== */
	header.primary { height: 49px; color: #333; background-color: #dadada; position: relative; border-bottom: solid 1px #f8f8f8; border-radius: 3px 3px 0 0;}
	header.primary .icon { z-index: 22; position: absolute; top: 0; left: 0; height: 49px; width: 49px; font-size: 26px; line-height: 49px; text-align: center; color: #333; }
	header.primary .side { left: auto; right: 0; }
	header.primary hgroup { text-align: center }
	header.primary hgroup h1 { z-index: 20; position: absolute; top: 0; left: 50px; right: 50px; color:#333; margin: 0; line-height: 49px; margin: 0; font-size: 20px; }

	/*	Navigation
	=========================== */
	.navigation { background: #232323; color: #cbc4c5; z-index: 1; width: 100%; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
	.navigation ul { list-style: none; padding: 0; margin: 0; width: 265px; position: relative; }
	.navigation li { font-size: 18px; position: relative; font-weight: 100; border-bottom: solid 1px rgba(0,0,0,0.1); border-top: solid 1px rgba(255,255,255,0.05); }
		.navigation ul li a ,
		.navigation ul li a:hover ,
		.navigation ul li a:visited ,
		.navigation ul li a:focus { text-decoration: none; color: #cbc4c5; background-color: transparent; display: block; padding: 4px 14px 4px 14px; line-height: 40px }
		
	/*	Presentation styles
	=========================== */
	#content { padding: 5px 20px; }


@media only screen and (min-width: 768px) {

	/*	Bamboo
	=========================== */
	#container { left: 265px; width: auto; overflow: auto; -webkit-overflow-scrolling: touch; }
	#scroller { background:#f9f9f9; }

	/*	Header
	=========================== */
	header.primary { height: auto; background: transparent; border: none }
	header.primary .icon { display: none }
	header.primary hgroup { text-align: left; padding: 20px 20px 5px 20px }
	header.primary hgroup h1 { position: relative; left: 0; right: auto; font-size: 30px; line-height: 34px; }

	/*	Navigation
	=========================== */
	.navigation { max-width: 265px }

}